.env
*.pyc
*/__pycache__
/app/*/__pycache__
.idea/.gitignore
.idea/backend.iml
.idea/dbnavigator.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
